# Master ElevenLabs API Key
ELEVENLABS_API_KEY=21b97e4410782023937690e35d4e50ef84a03d841e1455831a438cea7afad0b9

# Google Cloud Text-to-Speech API Key
GOOGLE_TTS_API_KEY=

# Vbee Text-to-Speech API Key
VBEE_APP_ID=
VBEE_API_KEY=

# Server Port
PORT=5000
